body{
	background-color: #F5F5DC;
	font-family: monospace;
	width: 70%;
	margin: auto;
}

#menu{
	float: right;
	width: 100px;
	height: 30px;
	background-color: #B2906F;
	border-top-left-radius: 45%;
	border-top-right-radius: 45%;
	margin: 2px;

}


img {
	width: 200px;
}

#pildiallkiri {
	width: 200px;
}

#oluline {
	clear: both;
	font-weight: bold;
}

p {
	text-align: justify;
}


h1 {
	float: left;
	border-bottom: solid;
}

a {
	color: black;
	font-size: 80%;
	font-weight: bold;

}
